body {
    font-family: "Oswald";
    margin: 0;
    background-color: #ecf0f1;
    background: radial-gradient(ellipse at center,#565656 0%,#ecf0f1 100%);
}
#m1 {
    background-color: #55efc4;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    text-shadow: -1px 0 black, 0 1px black
}
#b1 {
    color: #2d3436;
    text-shadow: -1px 0 black, 0 1px black
}
#m1 h1 {
    margin-bottom: 10px;
}
#sb1{
    position: absolute;
    right: 70px;
    top: 250px;
    width: 150px;
    font-size: 14px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 24px;
    image-rendering: pixelated;
}
#sb1 p {
    color: black;
    margin: 5px;
    padding: 5px;
}
#m1 img{
    width: 7%;
    margin-top: 20px;
    top: 0;
    left: 10px;
    position: absolute;
    padding: 5px;
}
#sb1 img {
    max-width: 100%;
    margin-top: 0;
    margin: 10px;
    padding: 5px;
}
#m2{
    padding: 0 320px 0 20px;
}
img {
    margin: 20px auto;
    border-radius: 24px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 2px solid black;
}

li {
  float: left;
  text-shadow: -2px 0 black, 0 2px black
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h1,h2,h3,h4,p {
    margin: 0;
}
#m6 {
    text-align: center;
    font-weight: 700;
    background-color: #bdc3c7;
    line-height: 30px;
    margin-top: 68px;
}
a:hover {
    font-weight: 700;
    color: lightgreen;
    border: 2px solid lightgreen;
}
a:active {
    font-weight: 700;
    color: lightskyblue;
    border: 2px solid lightskyblue;
}
h1{
    margin: 10px;
}
h3{
    margin: 10px;
}
p{
    margin: 10px;
}